* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;
  background-color: hsl(226, 43%, 10%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 978px;
  height: 50vh;
  min-height: 420px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

@media screen and (max-width: 600px) {
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: auto;
    margin-top: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    min-width: auto;
  }
}

.profile {
  grid-column: span 1;
  grid-row: span 2;
  background-color: hsl(235, 46%, 20%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .profile {
    width: 90vw;
  }
}

.box {
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .box {
    width: 90vw;
    height: 18vh;
  }
}

.box-over {
  width: 100%;
  height: 85%;
  position: absolute;
  bottom: 0;
  background-color: hsl(235, 46%, 20%);
  border-radius: 20px;
}

.box-over .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40%;
  padding: 1rem 2rem;
}

.box-over .header .title {
  color: #fff;
  font-size: 18px;
}

.box-over .header .dots:hover {
  cursor: pointer;
}

.box-over .content {
  color: #fff;
  font-size: 3.5rem;
  padding: 0 2rem;
}

.box-over .footer {
  color: hsl(236, 100%, 87%);
  padding: 0 2rem;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

@media screen and (max-width: 600px) {
  .box-content {
    display: flex;
    margin-top: 1rem;
  }

  .box-content .content {
    font-size: 1.5rem;
  }
}

.icon-background {
  width: 100%;
  height: 50%;
  top: 0;
  position: relative;
}

.icon {
  position: absolute;
  right: 10px;
  top: -10px;
}

.work {
  background-color: hsl(15, 100%, 70%);
}

.play {
  background-color: hsl(195, 74%, 62%);
}

.study {
  background-color: hsl(348, 100%, 68%);
}

.exercise {
  background-color: hsl(145, 58%, 55%);
}

.exercise .icon {
  top: 0;
}

.social {
  background-color: hsl(264, 64%, 52%);
}

.self-care {
  background-color: hsl(43, 84%, 65%);
}

.div-over-profile {
  width: 100%;
  height: 70%;
  border-radius: 20px;
  background-color: hsl(246, 80%, 60%);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .div-over-profile {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    height: 120px;
  }
}

.div-user {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-user > img {
  width: 95%;
  height: 95%;
}

.information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 2rem 3rem 2rem;
  color: hsl(236, 100%, 87%);
}

@media screen and (max-width: 600px) {
  .information {
    margin: 1rem;
  }
}

.information > h1 {
  color: #fff;
  margin-top: 5px;
}

.items {
  color: hsl(235, 45%, 61%);
}

.calendar {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 2rem;
}

@media screen and (max-width: 600px) {
  .calendar {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    flex-direction: row;
  }
}

.items:hover {
  cursor: pointer;
  color: #fff;
}

.box-over:hover {
  cursor: pointer;
  background-color: hsl(235, 45%, 61%);
}
